<h1>Login</h1>

<div class="mt-4">
  <form action="/sessions" method="post">
    <p>
      <label for="email_input">Email</label>
      <input type="text" name="email" id="email_input">
    </p>
    <p>
      <label for="password_input">Password</label>
      <input type="password" name="password" id="password_input">
    </p>
    
    <div class = "mt-4"> 
      <button class = "btn btn-success">Login</button>
    </div>

  </form>
</div>