<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <p>
    <label for="title_input">Title:</label>
    <input type="text" name="title" id="title_input">
  </p>

  <div class="mb-3">
    <label for="uploaded_image_input" class="form-label">Upload Image</label>
    <input type="file" name="uploaded_image" id="uploaded_image_input" class="form-control" accept="image/png, image/jpg, image/jpeg, image/gif">
  </div>

  <p>
    <label for="description_input">Description:</label><br>
    <textarea name="description" id="description_input" rows="3" cols="30"></textarea>
  </p>

  <p>
    <label for="occurred_on_input">Occurred On</label>
    <input type="date" name="occurred_on" id="occurred_on_input">
  </p>

  <button class = "btn btn-success">Save</button>
</form>