<h1>Places (<%=@places.count%>) </h1>
<p>
  <a href="/places/new"><button class="btn btn-success">Add a New place</button></a>
</p>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

