<h1>Places (<%=@places.count%>) 
  <a href="/places/new"><button class="btn btn-success">Add a New place</button></a>
</h1>
<hr>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

